@font-face {
    font-family: 'IgdaliasFont';
    src: url('fonts/coolvetica/coolvetica\ compressed\ hv.otf') format('otf'),
        url('fonts/coolvetica/coolvetica\ condensed\ rg.otf') format('otf'),
        url('fonts/coolvetica/coolvetica\ crammed\ rg.otf') format('otf'),
        url('fonts/coolvetica/coolvetica\ rg.otf') format('otf'),
        url('fonts/coolvetica/coolvetica\ rg\ it.otf') format('otf');
}

body {
    background: #080808;
    font-family: 'IgdaliasFont', sans-serif, monospace;
    color: #fff;
}

.igdalias-bg-main {
    background: #080808;
}
.igdalias-bg-element {
    background: #111;
}

.name {
    word-break: break-all;
    color: #fff;
    font-family: 'IgdaliasFont', sans-serif, monospace;
    font-size: 90pt;
}

.text-highlight{
    background-color: rgba(97, 100, 101, 0.2);
    border-radius: 10px;
}

.md-element {
    color: #616465;
}

.sh-text {
    color: #D08770;
}

.sh-symbol {
    color: gold;
}
.sh-key {
    color: #b662a6;
}
.sh-name {
    color: khaki;
}